
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: white;
  background-color:#0c0f0a;
}

a {
  color: #fffbfc;
  text-decoration: none;
}

a:hover {
  color: #ff206e;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #fbff12;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 28px;
  color: #363636;
  line-height: 0;
}
.back-to-top:hover {
  background: #ff206e;
  color: #fff;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  z-index: 997;
  transition: all 0.5s;
  height: 80px;
  background: #363636;
}
#header.header-transparent {
  background: transparent;
}
#header.header-scrolled {
  height: 60px;
  background: #0c0f0a;
}
.anav-linkedin .nav-linkedin{
  font-size: 30px;
}
.anav-linkedin .nav-linkedin:before{
  font-size: 30px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
}
.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  color: #fff;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}
.navbar a i, .navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
  color: #ff206e;
}
.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}
.navbar .dropdown ul li {
  min-width: 200px;
}
.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 20px;
  text-transform: none;
  font-weight: 400;
  color: #363636;
  letter-spacing: 1px;
}
.navbar .dropdown ul a i {
  font-size: 12px;
}
.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
  color: #ff206e;
}
.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}
.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}
@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #ff206e;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
  .anav-linkedin .nav-linkedin{
    display: none;
  }
}
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(41, 41, 41, 0.9);
  transition: 0.3s;
  z-index: 999;
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}
.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #3636368a;
  overflow-y: auto;
  transition: 0.3s;
}
.navbar-mobile a, .navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 14px;
  color: #ffffff;
}
.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: #ff206e;
}
.navbar-mobile .getstarted, .navbar-mobile .getstarted:focus {
  margin: 15px;
}
.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: rgba(61, 61, 61, 0.418);
  box-shadow: 0px 0px 30px #363636;
}
.navbar-mobile .dropdown ul li {
  min-width: 200px;
}
.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}
.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}
.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
  color: #ff206e;
}
.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# start Section
--------------------------------------------------------------*/
#start {
  width: 100%;
  height: 100vh;
  background: url("../img/startbg.jpg") top right;
  background-size: cover;
  position: relative;
}
#start:before {
  content: "";
  background: #000000a6;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
#start .start-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 15px;
}
#start h1 {
  margin: 0 0 10px 0;
  font-size: 64px;
  font-family: 'Raleway', sans-serif;
  color: #fff;
}
#start h2 {
  color: #ff206e;
  margin-bottom: 50px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}
#start .btn-scroll {
  transition: 0.4s;
  color: rgba(255, 255, 255, 0.6);
  animation: up-down 1s ease-in-out infinite alternate-reverse both;
}
#start .btn-scroll i {
  font-size: 68px;
}
#start .btn-scroll:hover {
  color: #ff206e;
}
@media (min-width: 1024px) {
  #start {
    background-attachment: fixed;
  }
}
@media (max-width: 575px) {
  #start h1 {
    font-size: 40px;
  }
  #start h2 {
    text-align: center;
    margin-bottom: 30px;
  }
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(-5px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(-5px);
  }
}
/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
}

.section-bg {
  background-color: #363636;
}

.section-title {
  text-align: center;
  padding: 30px 0;
  position: relative;
}
.section-title h2 {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #ff206e;
  position: relative;
  z-index: 2;
}
.section-title span {
  position: absolute;
  top: 30px;
  color: #ff206e33;
  left: 0;
  right: 0;
  z-index: 1;
  font-weight: 700;
  font-size: 45px;
  text-transform: uppercase;
  line-height: 0;
}
@media only screen and (max-width: 600px) {
  .section-title span {
    visibility: hidden;
  }

}
.section-title p {
  margin-bottom: 0;
  position: relative;
  z-index: 2;
}
@media (max-width: 575px) {
  .section-title h2 {
    font-size: 28px;
    margin-bottom: 15px;
  }
  .section-title span {
    font-size: 38px;
  }
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 20px 0;
  background-color: #FF7900;
  min-height: 40px;
  margin-top: 78px;
}
@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 60px;
  }
}
.breadcrumbs h2 {
  font-size: 24px;
  font-weight: 300;
  margin: 0;
}
@media (max-width: 992px) {
  .breadcrumbs h2 {
    margin: 0 0 10px 0;
  }
}
.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}
.breadcrumbs ol li + li {
  padding-left: 10px;
}
.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #363636;
  content: "/";
}
@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }
  .breadcrumbs ol {
    display: block;
  }
  .breadcrumbs ol li {
    display: inline-block;
  }
}

/*--------------------------------------------------------------
# About Me
--------------------------------------------------------------*/
.about{
  background-color: #0c0f0a;
  min-height: 600px;
}
.describe2 h4{
  color: #ff206e;
}
.describe3 h4{
  color: #ff206e;
}
.describe2 h5{
  color: #ff206e;
}
.describe2{
  margin-top: 10px;
  font-size: 15px;
  text-align: left;
}
.describe3{
  margin-top: 10px;
  font-size: 15px;
  text-align: left;
}
.descimg{
  width: 75px;
  height: 75px;
}
.about .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: #363636;
  text-transform: uppercase;
}
.about .content p:last-child {
  margin-bottom: 0;
}
.about .content .count-box {
  width: 100%;
}
.about .content .count-box i {
  display: block;
  font-size: 30px;
  color: #ffb727;
  float: left;
  line-height: 0;
}
.about .content .count-box span {
  font-size: 36px;
  line-height: 30px;
  display: block;
  font-weight: 700;
  color: #363636;
  margin-left: 50px;
}
.about .content .count-box p {
  padding: 15px 0 0 0;
  margin: 0 0 0 50px;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  color: #363636;
}
.about .content .count-box a {
  font-weight: 600;
  display: block;
  margin-top: 20px;
  color: #363636;
  font-size: 15px;
  font-family: "Ubuntu", serif;
  transition: ease-in-out 0.3s;
}
.about .portret {
  width: 306px;
	height: 409px;
	border-radius: 30px;
  margin-bottom: 30px;
  margin-right: 50px;
  float:left;
}
.describe{
  text-align: justify;
  position: relative;
  word-wrap: break-word;
}
@media only screen and (max-width: 800px) {
  .about .portret {
    margin-left: 120px;
  }
  .describe{
    clear: both;
  }
}
@media only screen and (max-width: 600px) {
  .about .portret {
    margin-left: 120px;
  }
  .describe{
    margin-left: 0;
    clear: both;
  }
  @media only screen and (max-width: 550px) {
    .about .portret {
      margin-left: 70px;
    }
  
  }
  @media only screen and (max-width: 450px) {
    .about .portret {
      margin-left: 50px;
    }
  
  }
  @media only screen and (max-width: 400px) {
    .about .portret {
      margin-left: 33px;
    }
  }
}
.downloadcv{
  align-items: center;
  background-clip: padding-box;
  background-color: #ff206e;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
  margin-top: 70px;
}

.downloadcv:hover,
.downloadcv:focus {
  color: #0c0f0a;
  background-color: #fbff12;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.downloadcv:active {
  color: #fa6400 ;
  background-color: #fa6400;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

/*--------------------------------------------------------------
# My skills
--------------------------------------------------------------*/
.skills{
  background-color: #0c0f0a;
}
.skills .icon-box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  background: #1a1c19;
  /*box-shadow: #fbff12bd 5px 5px, #fbff127a 10px 10px, #fbff1224 15px 15px;*/
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
  text-align: center;
  width: 400px;
  margin-bottom: 30px;
}

.skills .icon {
  margin: 0 auto 20px auto;
  padding-top: 17px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.skills .icon img {
  width: 65px;
  color: #fa6400;
}
.skills .title {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 22px;
  text-align: center;
}
.skills .ttitle {
  margin-top: 5px;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 19px;
  text-align: center;
}
.skills .title a {
  color: #fff;
  transition: 0.3s;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.skills .title2 a {
  color: #fbff12;
  transition: 0.3s;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 17px;
}
.skills .icon-box:hover .title a {
  color: #ff206e;
}
/*.skills .icon-box:hover{
 width: 420px;
}*/


/*--------------------------------------------------------------
# My projects
--------------------------------------------------------------*/
.projects{
  background-color: #0c0f0a;
}
.card-body{
 background-color: #1a1c19;
}
.card-img-top
{
  max-height: 500px;
}
.card{
  background-color: black;
  overflow: hidden;
  border-color: #ff206e;
  border-width: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.card-img-top{
  filter: brightness(35%);
  transition: all 0.5s;
  object-fit: cover;
  width: 100%;
}
.card-title-overlay{
  color: white;
  font-size: 40px;
  font-weight: bold;
  transition: all 0.5s;
}
.card-stand{
  margin-top: 10px;
}
.card-title{
  transition: all 0.5s;
  font-size: 30px;
  font-weight: bold;
}
.card-body .card-text{
  margin-bottom: 20px;
  margin-right: 0px;
  margin-left: 60px;
}
.mb .card-text{
  margin-right: 700px;
}
.card-stand{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  font-weight: 100;
  line-height: 2;
  color: #fff;
}
.card-overlay{
  position: absolute;
  margin-bottom: 400px;
  margin-right: 800px;
  margin-top: 100px;
}
.tsr{
  position: absolute;
  margin-bottom: 400px;
  margin-right: 723px;
  margin-left: 75px;
  margin-top: 100px;
}
.ast{
  position: absolute;
  margin-bottom: 400px;
  margin-right: 670px;
  margin-left: 75px;
  margin-top: 145px;
}
.lng{
  position: absolute;
  margin-bottom: 400px;
  margin-right: 690px;
  margin-top: 135px;
  margin-left: -275px;
}
.pn{
  position: absolute;
  margin-bottom: 400px;
  margin-right: 900px;
  margin-top: 100px;
}
.mib{
  position: absolute;
  margin-bottom: 400px;
  margin-right: 900px;
  margin-top: 100px;
}

.card-logo{
  max-height: 300px;
  max-width: 550px;
  margin-bottom: 200px;
  margin-left: 600px;
  position: absolute;
}



.steamlink {
  background-color: #ff206e;
  /*border: 1px solid #fbff12;*/
  border-radius: 8px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  margin-right: 800px;
  padding: 13px 23px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
  transition: all 0.5s;
  margin-top: 30px;
}

.steamlink:hover {
  color: #0c0f0a;
  background-color: #fbff12;
  transition: all 0.5s;
}

.steamlink:active {
  background-color: #FF7900;
  color: white;
  transform: scale(.96);
}

.steamlink:disabled {
  border-color: #5a5a5a;
  color: #969595;
  cursor: not-allowed;
  opacity: 1;
}
.card:hover .card-img-top {
  filter: brightness(20%);
  transition: all 0.5s;
}
.card:hover .card-title{
  transition: all 0.5s;
  color: #ff206e;
}
.card:hover .card-title-overlay{
  transition: all 0.5s;
  color: #ff206e;
}

@media only screen and (max-width: 1400px) {
  .card-title-overlay{
    font-size: 40px;
  }
  .card-overlay{
    margin-right: 600px;
  }
  .card-stand{
   font-size: 20px;
 }
 .ast{
  margin-right: 500px
  }
  .lng{
    margin-right: 500px
  }
  .mib{
    margin-right: 700px
  }
  .pn{
    margin-right: 700px
  }
  .steamlink{
    margin-right: 600px;
  }
  .card-logo{
    margin-left: 500px;;
  }
  .mb .card-text{
    margin-right: 500px;
  }
}

@media only screen and (max-width: 1200px) {
  .card-title-overlay{
    font-size: 40px;
  }
  .card-overlay{
    margin-right: 0px;
    margin-left: 0px;
    text-align: center;
  }
  .tsr{
    margin-right: 0px;
    margin-left: 0px;
    text-align: center;
  }
  .ast{
    margin-right: 0px;
    margin-left: 0px;
    text-align: center;
  }
  .lng{
    margin-right: 0px;
    margin-left: 0px;
    text-align: center;
  }
  .pn{
    margin-right: 0px;
    margin-left: 0px;
    text-align: center;
  }
  .mib{
    margin-right: 0px;
    margin-left: 0px;
    text-align: center;
  }
  .card-stand{
   font-size: 20px;
 }
  .steamlink{
    margin-top: 100px;
    margin-right: 0px;
    margin-left: 0px;
  }
  .card-logo{
    display: none;
  }
  .mb .card-text{
    margin-right: 400px;
  }
}

@media only screen and (max-width: 990px) {
  .card-overlay{
    margin-right: 0px;
    margin-left: 0px;
    text-align: center;
  }
  .card-title-overlay{
    font-size: 40px;
  }
  .card-overlay{
    margin-right: 0px;
  }
  .card-stand{
   display: none;
 }
 .ast .card-title-overlay{
   margin-bottom: 50px;
  font-size: 35px;
  }
  .lng .card-title-overlay{
    margin-bottom: 50px;
   }
  .steamlink{
    margin-right: 0;
    margin-bottom: 300px;
  }
  .card-logo{
    visibility: hidden;
  }
  .mb .card-text{
    margin-right: 200px;
  }
}
@media only screen and (max-width: 500px) {
  .card-title-overlay{
    font-size: 30px;
    margin-bottom: 100px;
  }
  .ast .card-title-overlay{
    font-size: 25px;
  }
  .steamlink{
    margin-bottom: 400px;
  }
  .mb .card-text{
    margin-right: 0px;
  }
   .astb
   {
    margin-bottom: 300px;
   }
   .lngb{
    margin-bottom: 300px;
   }
   .pn{
    margin-bottom: 300px;
   }
   .pnb{
    margin-bottom: 300px;
   }
   .mib{
    margin-bottom: 300px;
   }
   .mbb{
    margin-bottom: 300px;
   }
}
@media only screen and (max-width: 400px) {
  .card-overlay{
    margin-bottom: 500px;
  }
  .tsr{
    margin-bottom: 550px;
  }
  .steamlink{
    margin-bottom: 500px;
  }
  .astb
   {
    margin-bottom: 400px;
   }
   .lngb{
    margin-bottom: 400px;
   }
   .pn{
    margin-bottom: 400px;
   }
   .pnb{
    margin-bottom: 400px;
   }
   .mib{
    margin-bottom: 350px;
   }
   .mbb{
    margin-bottom: 350px;
   }
}


/*--------------------------------------------------------------
# Contact Me
--------------------------------------------------------------*/
.contact{
  background-color: #0c0f0a;
}
.contact .info-box {
  color: #fff;
  text-align: center;
  box-shadow: 0 0 10px  #ff206e;
  padding: 20px 0 30px 0;
}
.contact .info-box i.bx {
  font-size: 24px;
  color: #fff;
  border-radius: 50%;
  padding: 15px;
  background: #ff206e;
}
.contact .info-box h3 {
  font-size: 20px;
  color: #ffffff;
  font-weight: 700;
  margin: 10px 0;
}
.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
  font-weight: bold;
}
.socials{
  margin: 50px;
}
.mail{
  font-size: 80px;
}
.linkedin{
  font-size: 80px;
}
.github{
  font-size: 80px;
}
.mail:hover{
  color:white;
}
.linkedin:hover{
  color:white;
}
.github:hover{
  color:white;
}
footer{
  margin-bottom: 10px;
  font-size: 20px;
  text-align: center;
  background-color: #0c0f0a;
}
